body{
    background-color: dodgerblue;
}
h1{
    color: chartreuse;
}
p{
    color: rgb(255, 255, 255);
}

#points{
    font-size: 30px;
    margin-left: 300px;
}

#time{
    font-size: 30px;
    margin-right: 300px;
    float:right;
}
